.transactionHistory {
  margin: 10px 0 10px 0;
  border: solid 1px lightgray;
  border-radius: 5px;
  text-align: center;
  background-color: lightskyblue;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tableHead {
  height: 70px;
  width: 250px;
  color: #fff;
  border: solid 1px lightgray;
  border-radius: 5px;
}
